# SSS4. All about lists


<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">CONTENTS</h3>
  </div>
  <div class="panel-body">

* **[A. Python Lab](#lab)**
    * [1. LISTS](#lis)
        * [1.1. Python Built-in methods](#pyt)
        * [1.2. Concatenation](#con)
        * [1.3. Repetition](#rep)
        * [1.4. Indexing](#ind)
        * [1.5. Slicing](#sli)
    * [2. THE ACCUMULATOR PATTERN](#acc)
* **[B. Exercises](#ex)**

  </div>
</div>

### Hi there! Welcome back!
<br> 
Last three sessions, we learned about lists, (built-in) functions, data types, for loops, conditional statements. Let's wrap up all these concepts and address any remaining confusion around them. You will also learn about other capacities of lists (e.g., slicing), and another magical concept known as **accumulator pattern** that will come handy in many of your future assignments! As always, do not hesitate to approach your peer tutors with any questions and enjoy!

***

# A. Python Lab
<a id="lab"></a>

## 1. LISTS
<a id="lis"></a>


### 1.1. Python built-in methods 
<a id="pyt"></a>

As you may remember from the SSS1, lists are a data type that can store different types of values within square brackets. Recall how we created `my_minerva_classes` list.

In [1]:
my_minerva_classes = ['CS50', 'SS50', 'NS50', 'AH50']

Also, we learned how to add an extra element to the list. For instance, we supposed that a new class 'FE50' was added to your schedule. Can you add it to `my_minerva_classes` list?

In [2]:
#code here to add an extra class 'FE50' to the above created list.

Although there are many ways to add an element, we suppose you used _`.append`_ **method** which we learned in SSS1. Methods are commands or processes that you may apply to particular data types. Lists have some very useful methods one of which is _`.append()`_.

There are many other list methods that might be useful for you when solving problems! Below, we have a table with the most important ones. You can experiment with them later on if you have some time left after finishing the session.

<table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Method</th>
        <th>Parameters</th>
        <th>Result</th>
          <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>append</td>
        <td>item</td>
        <td>mutator</td>
          <td>adds a new item to the end of a list</td>
      </tr>
              <tr>
        <td>insert</td>
        <td>position, item</td>
        <td>mutator</td>
          <td>inserts a new item at the given position</td>
      </tr>
      <tr>
        <td>pop</td>
        <td>none</td>
        <td>hybrid</td>
          <td>removes and returns the last item</td>
      </tr>
              <tr>
        <td>pop</td>
        <td>position</td>
        <td>hybrid</td>
          <td>removes and returns the item at a position</td>
      </tr>
              <tr>
        <td>sort</td>
        <td>none</td>
        <td>mutator</td>
          <td>modifies a list to be sorted</td>
      </tr>
              <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
          <td>...</td>
      </tr>
  </table>

<div class="alert alert-block alert-success">
<div class="col-md-2 col-lg-1 col-xs-6 col-sm-3"> <img class="img-responsive responsive-img" src="https://www.shareicon.net/data/512x512/2016/08/18/813877_snake_512x512.png" alt="..."></div>
    <strong>SSSsss-tip:
    </strong>
    <br>Remember you can always use <b>TAB</b> after the dot of your list to see all the possible methods use can use with it! See below!</br>

</div>

In [0]:
my_minerva_classes.
#click TAB after a dot

### 1.2. Concatenation
<a id="con"></a>



The concept of concatenation is simple yet useful! It consists of using the "+" operator to join two lists together. For instance, lets say list_1 = [1, 2, 3] and list_2 = [4, 5, 6]. Use the code box below to find out what happens if we print list_1 + list_2!

In [0]:
list_1 = [1, 2, 3]
list_2 = [4, 5, 6]
print() #type in (list_1 + list_2) within the print statement and see what happens!

 Note that, when using concatenation, the order in which you concatenate matters. For instance, [1, 2, 3] + [4, 5, 6] is **NOT** equal to [4, 5, 6] + [1, 2, 3]. Run the cell below to see for yourself!

In [2]:
big_list_1 = [1, 2, 3] + [4, 5, 6]
big_list_2 = [4, 5, 6] + [1, 2, 3]
print(big_list_1)
print(big_list_2)
print(big_list_1==big_list_2)

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3]
False

Concatenation is very useful when we want to keep adding new elements to a list. Suppose we had an empty list, [], and we wanted to add the string "cat" to it 10 times. We could do so using the "accumulator pattern" and concatenation. See the code below!

In [3]:
lst = []

for i in range (10):
    lst = lst + ["cat"] 
#note that the string cat is within a list: concatenation only works between two lists, 
#concatenating just "cat" would return an error

print(lst)

['cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat']

So, as you may have noticed, you can add an extra element not just by using `append()` method! There are many ways (aka #algorithms) to solve a given problem, but not all of them are **algorithmically efficient**. Indeed, a goal for computer scientists is to find and create the 'best' algorithm. 

Well,  what is the 'best' you would ask? It depends on the main objective of the task that needs to be optimized (you will learn more about it in the 2nd semester with #optimization unit! Stay tuned for it!)
<br>

 <img class="img-responsive responsive-img" src="https://miro.medium.com/max/630/1*bPHK3V9y1EZnr6z5ZiIncQ.jpeg" alt="...">

<br>

Concatenation also applies to strings. The following code concatenates two strings using the same technique.

In [0]:
print('Miner'+'va')

Minerva

Your task now is to negate the statement A, given below, by appending "It is not that" before it.

In [0]:
A = "Everything is intentional here"
B = 
print(B) # this should print "It is not that Everything is intentional here"

### 1.3. Repetition
<a id="rep"></a>



What will happen if we put * instead of +? Test it out in the cell below!

In [0]:
lst = [1, 2, 3]
print(lst*3)

The above "repetition" command concatenates the list you have to itself _n_ times, n being the number next to the * operator. Try it out yourself: print the list below, repeated 6 times!

In [0]:
lst = ["boots", "and", "cats", "and"]
#your code here

### 1.4. Indexing
<a id="ind"></a>



There are very convenient ways to access elements in a list. First, it is essential to know that every item within a list has **an index,** **starting from 0** for the first element (from left to right) and going on up to the last element.

Suppose we had the list: ["banana", "cat", 3.14, 1]. The image below shows the elements within our list, and their corresponding indexes:

  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Element</th>
        <th>'banana'</th>
        <th>'cat'</th>
          <th>3.14</th>
          <th>1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>index</td>
        <td>0</td>
        <td>1</td>
          <td>2</td>
          <td>3</td>
      </tr>


  </table>
    

Now, let's say our list is called `lst`. From this list, we want to access the second element in the list, "cat" (remember, the "second element" has index 1, since python starts counting from 0), and set variable **A** to that 

To access the second element, we would use the syntax shown below:

Now try it yourself! Go ahead and set variable **B** below to the third element in the list (3.14). Dont forget to run the cell and print B, to make sure you succeeded!

In [0]:
lst = ["banana", "cat", 3.14, 1]
A = lst[1]
print(A)

cat

In [0]:
lst = ["banana", "cat", 3.14, 1]
B = 
print(B)

Another neat trick you can use to select an element within a list is to use negative indexes. The last element within a list (from left to right) can be accessed using the index "-1" in addition to the positive index it corresponds to. The second to last element can be accessed using the index "-2", and so on. The table below shows how the elements in our list can be accessed using their negative indexes as well:
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Element</th>
        <th>'banana'</th>
        <th>'cat'</th>
          <th>3.14</th>
          <th>1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>index</td>
        <td>0</td>
        <td>1</td>
          <td>2</td>
          <td>3</td>
      </tr>
      <tr>
        <td>negative index</td>
        <td>-4</td>
        <td>-3</td>
          <td>-2</td>
          <td>-1</td>
      </tr>

  </table>
    



Now, to practice accessing elements, your task is to access the "cat" element within lst using both its positive and negative indices. Set A to the component accessed using the positive index, and B to the component accessed using the negative index. Then, use an if/else statement to print TRUE if A and B are the same, and FALSE otherwise.

In [0]:
lst = ["banana", "cat", 3.14, 1]
A = 
B = 

if #complete the if statement here!

Can you guess why the following code throws an error? This is one common error when coding using the `list` data type in Python. Then, proceed to fix the error so that the code prints out the very nice motto. Hint: * What does the error message say? What line seems to have problems?*

In [6]:
A = ["everything", "is", "intentional", "here"]
sentence = ''
for i in range(10):
    sentence = sentence + A[i] + ' '
print(sentence)

IndexError: list index out of range

Finally, using indexes, we can also mutate the list as we wish! See the example below, follow the code carefully:

In [0]:
lst = ["banana", "cat", 3.14, 1]
lst[1] = "dog"
print(lst)

See what happened? We used the `lst[1]` command to access a particular element within the list, and using the "=" operator we replaced the original element with a new element. This process is called **"mutating"** a list.

### 1.5. Slicing
<a id="sli"></a>



Now, let us say that you have a list [1, 2, 3, 4, 5, 6]. However, you want to have a list with only the first three elements. There is a particular way to make that selection!

Remember when we accessed a single element within a list? We will use a similar command to select a subsection, a slice, of a list. It is entirely the same as slicing strings. See below how the operator works:

In [4]:
lst = [1, 2, 3, 4, 5, 6]
#remember: we want the first three elements!
lst_slice = lst[0:3] # extract lst[0], lst[1], lst[2], but not lst[3].
print(lst)
print(lst_slice)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

List slices are also handy when we want to "clone" a list. What does "cloning" a list mean, you may ask? Well, it is making a copy of a list, of course!

Say we have list A = [1, 2, 3, 4, 5, 6]. What if we don't want this list: we want a list whose last element is 7 instead? We could certainly "mutate" the original list, but what if we want to keep the original as is, and have a second version of that list that is a little different? For this, we create a clone of the original and **mutate the clone** rather than the original.

To clone a list, we "take a slice" of the whole list! To clone A, and call our clone B, we would use the command below:

In [7]:
A = [1, 2, 3, 4, 5, 6]
B = A[:]
print("List A is:", A)
print("List B is:", B)

List A is: [1, 2, 3, 4, 5, 6]
List B is: [1, 2, 3, 4, 5, 6]

Now, we can mutate list B without mutating list A:

In [10]:
A = [1, 2, 3, 4, 5, 6]
B = A[:]
B[-1] = 7
print("List A is:", A)
print("List B is:", B)

List A is: [1, 2, 3, 4, 5, 6]
List B is: [1, 2, 3, 4, 5, 7]

Can you guess what would have happened if, instead of using the B = A[:] slice command, we had used a B = A command? See below for the results!

In [11]:
A = [1, 2, 3, 4, 5, 6]
B = A
B[-1] = 7
print("List A is:", A)
print("List B is:", B)

List A is: [1, 2, 3, 4, 5, 7]
List B is: [1, 2, 3, 4, 5, 7]

As you can see, if you use B = A, the lists are linked! If you change one, you will change the other!
<img class="img-responsive responsive-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRalL8FtZSdZZEjKNVYYeoAYMV-FyWh7RDOH2hwz2v_gk2cCcb-" alt="...">

***

## 2. ACCUMULATOR PATTERN
<a id="acc"></a>

Think of one simple math problem: multiplying 2 numbers. How exactly is this happening? Probably, the most basic approach is to think of it as repeating the process of adding one number to itself a certain number of times. So $4 * 3 = 4 + 4 + 4 $. 

Do computation of $2 * 5$ by hand first and try to isolate _exactly what steps you take._ You’ll find you need to keep some “running total” of the sum so far, either on a piece of paper or in your head. To replicate this process in code, we will need some variable to remember the “running total.” It should be initialized with a value of zero. Then, we need to update the “running total” the correct number of times. For each repetition, we’ll want to update the running total by adding the number to it.

A common pattern in a loop is to initialize a variable outside the loop and update it during each iteration (or some of the iterations)
<br> 
If you want to learn more follow [this link](https://runestone.academy/runestone/static/PythonSummerPrep/Functions/TheAccumulatorPattern.html). 

In code, this would look like this: 
<br>

In [8]:
def multiply(x, y):
    runningtotal = 0
    for counter in range(y):
        runningtotal = runningtotal + x

    return runningtotal
multiply(2,5)

10

Notice that `running total` starts with 0 and is being updated every time it goes through the loop. This **iteration** is performed _y_ number of times.

What if you needed to count a number of cats in a given list? Finish the code to do it!

In [1]:
animals = ['cat', 'dog','cat', 'cat', 'dog']

for #your code to start iteration
    cats = 0
    
    return cats

SyntaxError: invalid syntax (<ipython-input-1-70e6d91f1548>, line 3)

# B. Exercise
<a id="ex"></a>

## Exercise 1. Count from Scratch

In Python, `count` is a built-in function to count the number of occurences of an element in a list. The cell below will print the number of times the number 5 appears in list `A`:

In [0]:
A = [5,4,3,5,6,3,5]
print(A.count(5))

3

But we can definitely build a function on our own that could do such jobs! Write a function that inputs a list and a value, `my_count(lst,val)`, and counts the number of occurences of the value (`val`) in the list (`lst`). Make sure to compare what your function returns with that of the built-in function.

In [0]:
# Your code here

## Exercise 2. Truth Table

The truth table for evaluating `(P  and  Q)  or  P` is given below:

Row no. | P | Q | P and Q | (P and Q) or P 
--- | --- | --- | --- | ---
1 | T | T | T | T 
2 | T | F | F | T
3 | F | T | F | F
4 | F | F | F | F

A Python list can represent each row in the table above. For example, the list `[True, False, False, True]` can be used to describe the second row. 
Our task is to fill in the 2 missing values of such lists if the first two values are known. For example, if A = `[True, False]` is intended to represent part of the second row (just the truth values for P and Q), it has two missing values at the end, `False` and `True`. Write a function that takes a two-element list as arguments and returns a complete list that represents a row in the table.

In [0]:
# Your code here

## Exercise 3. Mode from Scratch

From Wikipedia: "The mode of a set of data values is the value that appears most often". For example, the mode of [3,1,4,4,1,1,1,1,2] is 1 since 1 is the most common value (appearing 5 times). Write a function that finds **a** mode of a given list of numbers. You may find the function you created in the counting exercise above helpful.

In [0]:
# Your code here

## Exercise 4. Modus Tollens Evaluator

Recall that if an argument is valid by modus ponens, it takes the form:

1. $P\rightarrow Q$ (premise)
2. $P$ (premise)
3. $Q$ (conclusion)

And if an argument is valid by modus tollens, it takes the form:

1. $P\rightarrow Q$ (premise)
2. $\neg Q$ (premise)
3. $\neg P$ (conclusion)

Recall that in FA class session 3.1, we created a function that evaluates whether or not an argument is valid by modus ponens. One such function is provided below:

In [0]:
def modus_ponens_evaluator(p1_1, p1_2, p2, c):
    if p1_1==p2 and p1_2==c:
        return("Valid by modus ponens")
    else:
        return("Not valid by modus ponens")

p1_1 = "one attends the school"
p1_2 = "one will become a leader"
p2 = "one attends the school"
c = "one will not become a leader"

print(modus_ponens_evaluator(p1_1, p1_2, p2, c))

Not valid by modus ponens

Create a function (`modus_tollens_evaluator`) that evaluates whether or not an argument is valid by modus tollens. The test at the end of the following cell should print `True`.

In [0]:
def modus_tollens_evaluator(p1_1, p1_2, p2, c):
    # fill in here

    
    
    
    
    
    # end of your code
p1_1 = "one attends the school"
p1_2 = "one will become a leader"
p2 = "it is not the case that one will become a leader"
c = "it is not the case that one attends the school"
print(modus_tollens_evaluator(p1_1, p1_2, p2, c))

##  Exercise 5. Longest Homogeneous Sublist

Given a list, find a longest sublist whose elements are the same. For example, given the list `[1,2,3,2,2,4,5,5,5,5,2,2]` your function should return [5,5,5,5]. Note that this is different than the mode!

## Exercise 6.
Write a  function sumTo(n) that returns the sum of all integer numbers up to and including n. So sumTo(10) would be 1+2+3...+10 which would return the value 55.

In [0]:
# Your code here

## Exercise 7. List Overlap

(Adapted from [Practice Python](https://www.practicepython.org/exercise/2014/03/05/05-list-overlap.html))

Given two lists containing distinct elements (no duplicates within each list), return a list containing elements that are common between the lists.

In [0]:
# Your code here

## Exercise 8. Maximum Subarray
Given a list of numbers, find a subarray that has the largest sum of its elements. For example, given the list [-1,2,4,-3,5,-2] your function should return [2,4,-3,5]

<blockquote class="alert-warning">
     Key Takeaways from Today´s SSS
    <small>Pyhton has many built-in methods for various datatypes. For instance, <b>append()</b> for lists</small>
    <small>you can <b>concatenate</b> two lists by using + sign between them</small>
    <small>you can use * to <b> repeat a list itself</b>  certain number of times</small>
    <small>Indexing (and counting in general) <b> starts from 0</b>  in Python</small>
    <small>To access an element of the list you can use <b> both negative and positive indexing</b>  by specifying index in square brackets after the list name. For instance, <b> my_minerva_classes[INDEX]</b></small>
    <small><b>Accumulator pattern</b> is used to initiate counting that will be updated later on</small>
    </blockquote>

    <div class="alert alert-block alert-success">
<div class="col-md-2 col-lg-1 col-xs-6 col-sm-3"> <img class="img-responsive responsive-img" src="https://www.shareicon.net/data/512x512/2016/08/18/813877_snake_512x512.png" alt="..."></div>
<strong>It was wonderful seeing you today! Come to the OH to learn more and chat!</strong>
<br> Also, Congrats on completing your SSS4! Do you have any questions or confusion points? Use the cell below to ask any questions, and we will try to address them in the next sessions or during OH.


You can be as precise as you want, e.g. 'I did not know why else statement should not be included.'
</div>

Use this cell to leave any comments

<img class="img-responsive responsive-img" src="http://www.relatably.com/m/img/crushed-memes/58911319.jpg" alt="...">

In [0]:
# Your code here